hr {
  height: 1px;
}

main {
  margin: 0 !important;
  font-family: 'Poppins', sans-serif;

  .details {
    position: relative;
  }

  .map {
    background-color: #aaa;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0;

    #map {
      height: 100%;
    }

    .map-controls {
      width: 75%;

      .map-search {
        padding: 10px 5px 10px 0;
        margin-top: 15px;
        width: 100%;
        text-indent: 15px;
        outline: none;
        border: none;
        opacity: 0.8;
        background-color: white;
        color: #4a4a4a;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        border-radius: 0.2rem;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);

        user-select: none;
        transition: all 0.3s ease;

        &:focus {
          opacity: 1.0;
        }

        &::-webkit-search-cancel-button {
          -webkit-appearance: none;
          background: url('/resources/images/input-close.svg');
          background-size: auto;
          background-repeat: no-repeat;
          background-position: center center;

          width: 10px;
          height: 10px;
          padding: 10px;
          border-radius: 0.2rem;
          cursor: pointer;

          transition: all 0.3s ease;

          &:hover {
            background-color: #F6F6F8;
          }

        }

      }


      .maps-custom-item {
        background-color: #FFFFFF;
        color: #000000;
        font-size: 14px;
        font-weight: 500;
        padding: 12px 10px 12px 10px;
        transition: all 0.25s ease;

        display: none;

        &:hover {
          background-color: #FAFAFA;
          cursor: pointer;  
        }

        .material-icons {
          font-size: 15px;
          position: relative;
          top: 2px;
          margin-right: 8px;
          color: #B3B3B3;  
        }

      }

    }
  }


  .offline-places {
    display: none;
    background-color: #2ad09e;
    padding: 20px 30px;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    .title {
      padding-top: 2rem;
      color: #FFFFFF;  
    }

    ul li {
      padding: 10px 20px;
      margin: 15px 0;
      cursor: pointer;
      user-select: none;
      opacity: 0.7;
      transition: all 0.2s ease;
      text-transform: capitalize;
      
      &:hover {
        opacity: 1.0;
      }
    }

  }


  .title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    color: #BDBDC6;
  }

  .information {
    background-color: #F6F6F8;
    border-left: 5px solid #FFFFFF;
    padding: 20px 30px;
    margin-left: auto;


    .section {
      padding: 2rem 0;

      .card {
        padding: 30px;

        border-radius: 0.2rem;
        background-color: #FFFFFF;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);


        .main-title {
          font-size: 30px;
          font-weight: 400;

          span {
            color: #BDBDC6;
            font-size: 16px;        
          }

        }

        .sub-title {
          font-weight: 400;
          font-size: 14px;
          color: #A8A8AE;
        }


        .health-message {
          margin-top: 25px;
          font-size: 16px;
        }


        .label {
          display: inline;
          padding: 2px 8px;
          font-size: 14px;
          font-weight: 500;
          border-radius: 0.2rem;
          background-color: #F6F6F8;
          color: #BDBDC6;

          margin-left: 5px;
        }

        .copy {
          font-size: 13px;
          font-weight: 500;
          color: #BDBDC6;
        }

        .additional-details {
          text-align: center;
        }

        .additional-details .main-title {
          display: block;
          font-size: 14px;
          line-height: 1.15rem;
          margin-top: 10px;
        }

        .other-data {

          .main-title {
            font-weight: 500;
            font-size: 16px;
            margin-top: 5px;
            
            span {
              font-size: 12px;
            }

          }

          .health-message {
            position: static;
            margin-top: 10px;
            font-size: 14px;
            font-weight: 500;

            color: #BDBDC6;
          }

          .day-title {
            text-align: right;
            text-transform: uppercase;
            color: #BDBDC6;
            margin-bottom: 15px;
          }


          .other-data-today {
            border-right: 1px solid #dbdbdb;


            #pollutantDetailsToday {
              text-align: center;
            }

          }

        }

      }
    }
  }

  .badge-container {
    width: auto !important;
  }

  .badge {
    text-align: center;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    padding-top: 1.6rem;
    position: relative;
    display: inline-block;
    user-select: none;

    font-size: 55px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

    &::after {
      font-size: 16px;
      color: #FFFFFF;
      text-align: center;
      text-transform: uppercase;

      border-radius: 0.3rem;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 20px;
      padding: 1px 0;
      font-weight: 500;
    }


    &.small {
      width: 90px;
      height: 90px;
      padding-top: 1.4rem;
      font-weight: 400;
      font-size: 30px;
    
      &::after {
        font-size: 12px;
        margin: 0 5px;
      }
    }

    &.smallest {
      width: 50px;
      height: 50px;
      padding-top: 0.7rem;
      font-weight: 400;
      font-size: 20px;
    
      &::after {
        content: none !important;
      }
    }
  }


  .good {
    background-color: #E4FAEB;
    color: #0ACD47;

    &::after {
      content: 'Good';
      background-color: #0ACD47;
    }
  }

  .moderate {
    background-color: #FDF9DD;
    color: #F5DB2A;

    &::after {
      content: 'Moderate';
      background-color: #F5DB2A;
    }
  }

  .unhealthy-moderate {
    background-color: #FFE4CE;
    color: #F99846;

    &::after {
      content: 'USG';
      background-color: #F99846;
    }
  }

  .unhealthy {
    background-color: #FFDFDD;
    color: #F16A62;

    &::after {
      content: 'Unhealthy';
      background-color: #F16A62;
    }
  }

  .very-unhealthy {
    background-color: #EFCFF9;
    color: #80518E;

    &::after {
      content: 'VU';
      background-color: #80518E;
    }
  }

  .hazardous {
    background-color: #BA6077;
    color: #6B1C31;

    &::after {
      content: 'Hazardous';
      background-color: #6B1C31;
    }
  }

  .dominant {
    border: 2px solid;
    padding: 0.5rem;
  }

  .aqi-range {
    position: absolute;
    bottom: 50px;
    left: 20px;
    width: 30%;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 5px;

    background: white;
    opacity: 0.8;
    border-radius: 0.2rem;
    user-select: none;

    box-shadow: rgba(0, 0, 0, 0.1) 3px 5px 10px;
    transition: all 0.3s ease;

    display: flex;
    flex-direction: column;

    &:hover {
      opacity: 1.0;

      transition: all 0.3s ease;
    }

    ul li, .active {
      margin: 3px 0;
      display: inline-flex;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      padding: 5px 12px;
      text-transform: capitalize;

      span {
        width: 12px;
        height: 12px;
        margin-right: 8px;
        border-radius: 100%;
        background: black;
        display: inline-block;    
      }

    }

    ul {
      display: none;
    }

    .active {
      cursor: pointer;
      background-color: #f0f0f0;  
    }

  }


  .disabled {
    position: relative;

    &::after {
      content: 'Coming Soon';
      color: #BDBDC6;
      background-color: rgba(255, 255, 255, 0.85);
      text-align: center;
      font-size: 22px;
      text-transform: uppercase;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      padding-top: 25%;
    }
  }

  .snack-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 10px 20px;
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);

    .sw-update {
      color: #2ad09e;
      margin-left: auto;
      text-transform: uppercase;
      display: none;  
    }

  }

}

.pac-container {
  border-radius: 0rem 0rem 0.2rem 0.2rem;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
  /*margin-top: 42px;
  border: 0;*/
}

.pac-item {
  border: none;
  outline: none;
  padding: 5px 10px;
  transition: all 0.25s ease;

  &:hover {
    cursor: pointer;
  }
}


footer {

  padding: 20px 0 0 0;
  text-align: center;
  user-select: none;
  background-color: transparent;

  .logo {
    display: flex;
    align-items: center;

    img {
      width: 120px;
      border-radius: 0.2rem;
      overflow: hidden;
    }

    span {
      font-size: 1.2rem;
      margin-left: 10px;
    }
  }

  .material-icons {
    margin: 2px;
  }

  a {
    margin-left: 4px;
  }

  .column {
    &:first-child {
      text-align: left;
    }

    &:nth-child(2) {
      display: flex;
      align-items: center;
      justify-content: flex-end;    
    }

  }

}


@media only screen and (max-width: 768px) {

  main {

    .information {
      padding: 10px 20px;
      border: 0;

      .section .card .other-data .other-data-today {
        border-right: none;
      }
    }


    .map {
      height: 400px;
      position: relative;
    }

    .offline-places {
      height: 27rem;
      position: relative;
    }

    .aqi-range {
      bottom: 30px;
    }

    .badge-container {
      text-align: center;
    }
    .details {
      text-align: center;
    }

    .other-data-today {
      border: none;
    
      .column {
        text-align: center;
      }
    }

    .additional-details {
      text-align: left;
    
      .main-title {
        margin-left: 5px;
        display: inline-block;
      }
    }

    .logo {
      justify-content: center;
    }

  }

  footer .column:nth-child(2) {
    justify-content: center;
  }

}
